/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* General */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.body-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header,
footer {
  text-align: center;
}

main {
  background-color: rgba(5, 5, 5, 0.1);
  padding: 1rem;
  display: grid;
  align-items: center;
}

/* Utility */

.container {
  max-width: 1280px;
  margin: auto;
  padding: 1rem;
}

/* Main */

main h2 {
  text-align: center;
}

.ttt-grid {
  margin: auto;
  max-width: 600px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
}

.ttt-cell {
  aspect-ratio: 1 / 1;
  border: solid 1px black;
  background-color: white;

  display: grid;
  place-items: center;
}

.X-orange {
  background-image: url(./images/x-orange.svg);
  background-size: cover;
}

.O-orange {
  background-image: url(./images/o-orange.svg);
  background-size: cover;
}

.X-blue {
  background-image: url(./images/x-blue.svg);
  background-size: cover;
}

.O-blue {
  background-image: url(./images/o-blue.svg);
  background-size: cover;
}

.restart-btn {
  margin: auto;
  display: block;
  padding: 0.25rem 1rem;
  border-radius: 10px;
}

.restart-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
